.button{
    background-color:rgb(255, 255, 255);
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    text-decoration: none;
    }
    .button1{
    border-radius: 5px;
    text-decoration: none;
    }
    .buttonn{
    background-color:rgb(255, 255, 255);
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    margin: 2px 2px;
    cursor: pointer;
    text-decoration: none;
    }
    .buttonn1{
    border-radius: 5px;
    text-decoration: none;
    }
    #header{
    text-align:center;
    padding:10px;
    background-color:rgb(69, 69, 69);
    font-family:Arial, Helvetica, sans-serif;
    }
    #container{
    width:1000px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    }